{% extends "base.html" %} {% block content %}

<div class="container">
  <h3 class="mb-3">
    Venez reserver vos vacances chez Luxe Agency, La meilleure Agence
  </h3>
  <div class="row">
    <div class="col-lg-4">
      <div class="card shadow" style="width: 18rem">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStDBMewuvhT5HxyN0SU-w7F4_cToNGzWmoVA&usqp=CAU"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card shadow" style="width: 18rem">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStDBMewuvhT5HxyN0SU-w7F4_cToNGzWmoVA&usqp=CAU"
          class="card-img-top"
          alt="..."
        />

        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card shadow" style="width: 18rem">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStDBMewuvhT5HxyN0SU-w7F4_cToNGzWmoVA&usqp=CAU"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
